// 
// Iconography
//

.icon {
  display: inline-block;
  position: relative;
  line-height: 0;

   &--arrow {
    margin: 0 0 0 0.5rem;
    bottom: 3px;
  }

  &--search {
    margin-left: 0.25rem;
    top: -3px;
  }

  &--hamburger {
    cursor: pointer;
  }

  &--close {
    cursor: pointer;
  }

  &--open-in-new-window {
    margin-left: 0.5rem;
    top: -2px;
  }

  &--social {
    margin-right: 1.5rem;
  }

  &--email {
    margin-right: 0;
    top: 2px;
  }

  &--language {
    margin-right: 1.5rem;
    top: -3px;
  }

  &--ticket {
    margin-right: 1.5rem;
    top: -3px;
  }
}