{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "plugins": [
  ],
  "globals": { 
    "Modernizr": true
  },
  "rules": {
    "comma-dangle": "off",
    "no-trailing-spaces": "off",
    // "new-cap": 0,
    // "strict": 0,
    // "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "eol-last": 0,
    "no-console": "off",
    "linebreak-style": "off",
    "no-param-reassign": ["error", { "props": false }],
    "max-len": ["error", { "ignoreStrings": true, "ignoreComments": true, 
      "ignoreTemplateLiterals": true, "ignoreRegExpLiterals": true, "code": 100 }],
    "no-var": "off"
  }
}