/* GDPR */

.gdpr {
	left: 0;
	right: 0;
	z-index: $gdpr-z-index;
	padding: 1rem 1rem;
	width: auto;
	margin: 0 auto;
	display: block;
	max-width: 38rem;
	background: $tags-hover-color;

	/* Text */

	&__text {
		font-size: 0.75rem;
		color: $footer-background-color;
		letter-spacing: 0;
		font-weight: 300;
		line-height: 1.25rem;
		margin-bottom: 1.5rem;
	}

	/* Link */

	&__link {
		color: $link-color;
	}

	/* Button */

	&__button {

		border: 1px solid $gradient-right-color;
		color: $gradient-right-color;
		background-color: transparent;
		line-height: 1.375rem;
		width: 100%;

		&:hover {
			border: 1px solid $gradient-left-color;
			background-color: transparent;
			color: $gradient-left-color;
			box-shadow: 0 0 0 1px $gradient-left-color;
		}
	}
}
