// 
// Main
//

.main {
	outline: none;
	max-width: 40rem;
	margin: 0 auto;

	// Is Single Post Page

	&--is-single {
		background-color: $body-background-color; 
		padding-top: 16.25rem;
	}

// Container
// - - - - - - - - - - - - - - - - - - - - - - - - -

	&__container {
		position: relative;
		text-align: center;
		margin: 0 auto;
		max-width: 90rem;
		z-index: 1;

		&--is-single {
			background: $white;
		}
	}

// Content
// - - - - - - - - - - - - - - - - - - - - - - - - -

	&__content {
		background: $transparency-color;
		display: block;
		position: relative;
		text-align: left;
		overflow: hidden;
		margin: 0;

		// Is Single Post Page

		&--is-single {
			padding: 1.5rem 0.5rem 3.75rem 0.5rem;
		}

		.entry-content > p:first-of-type {
			
			&:first-letter {
				font-family: $heading-font;
				float:left;
				padding: 0;
				margin: 0 1rem 0 0;
				color: $footer-background-color;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 3.75rem;
				line-height: 3.75rem;
			}
		}
	}
}