
// CPC Branded Colours
// Primary Colours

$cp-red               : #CA261A;
$mid-blue             : #0467C6;
$cp-blue              : #004990;
$white                : #fff;
$black                : #111;
$off-black            : #333;
$charcoal-grey        : #666;
$mid-grey             : #CBCBCB;
$grey                 : #D9D9D9;
$mid-light-grey		  : #E5E5E5;
$light-grey           : #F0F0F0;

// Secondary Colours

$morning-blue         : #DAEAF5;
$grass-green          : #098A00;
$sunny-yellow         : #FFBF05;

// Background Colours

$red-alert            : #F9E9E8;
$green-success        : #ECF6EB;
$blue-info            : #DAEAF5;
$yellow-amber         : #FFBF05;

// Modal backdrop colours

$backdrop-transparent: rgba(51, 51, 51, .85);
$backdrop-solid: #5c5c5c;

// Hover state colours
$cp-red-hover          : #AA2319;

// We use these as default colors throughout
// $primary-color: #008CBA;
// $secondary-color: #e7e7e7;
// $alert-color: #f04124;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;