/* Article Tip */

.entry-content {

	p + .ch-article-tip-container {
		padding-top: 1.5rem;

		&:before {
			margin-top: 1.5rem;
		}
	} 

	.ch-article-tip-container {
		position: relative;
		padding-left: 6.5rem;
		margin-bottom: 3rem;
		padding-left: 5.5rem;
		min-height: 4.75rem;
		
		&:before {
			content: ' ';      
			width: 6.5rem;
			width: 5.5rem;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: url('/blogs/wp-c/themes/cpc-ch/img/icons/tips_icon.svg') no-repeat top left;
		}

		h1, h2, h3, h4 {
			margin-top: 0;
			margin-bottom: 0.5rem;
			
			&.ch-article-tip {
				font-size: 18px;
				font-weight: 400;
				letter-spacing: 0.5px;
				line-height: 1.5rem;           
				color: $black;
				font-size: 1rem;
			} 
		} 

		p {
			margin-bottom: 0;

				&.ch-article-tip {
				color: $footer-background-color;
				letter-spacing: 0.5px;
				line-height: 1.5rem; 
				min-height: 2.5rem;     
			}
		}      
	}
}