/* Bio */

.bio {
  display: flex;

  @media #{$small-only} {
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }

  @media #{$medium-up} {
    margin-bottom: 3.75rem;
  }

  @media #{$large-up} {
    width: 75%;
  }

  &--is-article {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    margin-top: 3rem;
    padding: 2rem 0;
    width: 100%;

    @media #{$small-only} {
      padding: 1.5rem 0;
    }
  }

  &__img-wrapper {
    flex: 0 0 7.5rem;

    @media #{$small-only} {
      flex: 0 0 100%;
      text-align: center;
    }

    &--no-profile-picture {
      display: none;
    }
  }

  &__img {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 6rem;
    text-align: center;

    @media #{$small-only} {
      margin-bottom: 1.5rem !important;
    }
  }

  &__text-wrapper {

    @media #{$small-only} {
      flex: 0 0 100%;
    }
  }

  &__text {
    font-weight: 300;
    letter-spacing: 0.5px;
  }

  &__heading {

    @media #{$small-only} {
      text-align: center;
      margin-bottom: 1.5rem;
    }

    @media #{$medium-up} {
      margin-bottom: 0.75rem;
    }
  }

  &__link {
    display: block;
    margin-top: 1.5rem;
  }

  &__icon {
    margin-left: 0.5rem;
  }
}