/* Ribbon */

.ribbon {
  position: relative;
  z-index: $ribbon-z-index;
  background-color: $cross-sell-color;

  @media #{$small-up} { 
    margin: 0 0 7.5rem 0;
  }

  @media #{$large-up} { 
    margin: -2.5rem 0 7.5rem 0;
  }

  /* Ribbon Container */
  
  &__container {
    max-width: 90rem;
    margin: auto;
    
    @media #{$small-up} { 
      padding: 0;
    }
    
    @media #{$medium-up} { 
      padding: 0 2rem;
    }

    @media #{$large-up} { 
      padding: 0 7.5rem;
    }
    
    > .row {
      padding: 2rem 0rem 0.5rem;
    }
  }

  /* Ribbon Menu */

  &__menu {
    list-style: none;

    li {
      float: left;

      @media #{$small-up} { 
        width: 100%;
      }
  
      @media #{$medium-up} { 
        width: calc(50% - 1rem);
        margin-right: 2rem;   

        &:nth-child(even) {
            margin-right: 0; 
        }
      }
      
      a {
        width: 100%;
        display: block;
        color: $white;
        letter-spacing: 0.5px;
        border-bottom: 1px solid rgba(203, 203, 203, 0.75);
        margin: 0 2rem 0.75rem 0;
        padding: 0 2rem 0.75rem 0;
        font-weight: 300;
        position: relative;

        &:after {
          content: '';
          width: 1rem;
          height: 1rem;
          background: url(../img/icons/chevron-white-right.svg) 50% 50% no-repeat;
          display: inline-block;
          position: absolute;
          right: 5px;
          top: 0.125rem;
        }

        &:hover:after {
          animation: swing 1s ease infinite;
        }
      }

      &:last-child a {
        border-bottom: 0 none;
      }

      @media #{$medium-up} { 
        &:nth-last-child(2) a {
          border-bottom: 0 none;
        }
      }
      
      @media #{$small-only} { 
        width: 100%;
        float: none;

        a {
          margin-right: 0;
        }
        &:last-child a {
          border-bottom: 0 none;
        }
      }
    }
  }

  /* Ribbon Heading */

  &__heading {
    color: $white;
  }
}